body
{
	margin: 0;
	padding: 0;
	color: #555;
	font-family: "jubilat",sans-serif;
	font-style: normal;
	font-weight: 400;
	background: #F7F7EC;
}

body#user {
	background-color: #f5c21b;
}

body#profile {
	background-color: #f5c21b;
}

body#profile.view, body#profile.index {
	background-color: #F7F7EC;
}

.brandon.regular {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.brandon.bold {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: bold;
}

.jubilat.regular {
	font-family: "jubilat",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.jubilat.bold {
	font-family: "jubilat",sans-serif;
	font-style: normal;
	font-weight: bold;
}

#profile-form #Profile_role label {
	display: inline;
}

#profile-list img {
	display: inline-block;
}

.top-bar {
	height: 80px;
	padding: 25px 20px 0 20px;
	border:none;
	box-shadow: 0px 0px 7px #BBB;
	-moz-box-shadow: 0px 0px 7px #BBB;
	-webkit-box-shadow: 0px 0px 7px #BBB;
}

#home-hero-header, #home-hero-header h1 {
	color: #FFFFFF;
}

.button { 
	border: none;
	border-radius: 30px;
}

.button.orange {
	background-color: #f7c41d;
}

.button.dark-orange {
	background-color: #eb6120;
}

.button.teal {
	background-color: #99cccc;
	color: #333;
}

.button:hover, .button:focus {
	background-color: green;
}

.top-bar-section ul {
	background: transparent;
}

label {
	font-weight: bold;
	font-size: 14px;
}

input[type='text'], input[type='password'] {
	border-radius: 10px;
	height: 3.2em;
}

#profile-form #Profile_role label {
	font-size: 18px;
	font-weight: normal;
}

form input {
	font-size: 16px !important; 
}

#profile-form label {
	font-size: 24px;
	font-weight: normal;
}

#profile-form textarea {
	height: 100px;
}

#profile-form .custom.dropdown{
	height: 2.8em;
	font-size: 18px;
}

.profile-label {
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: bold;
}

.profile-label span {
	font-weight: normal;
	font-size: 16px;
}

#profile-list .profile-label {
	margin-bottom: 0px;
	font-size: 14px;	
	font-weight: normal;
}

#profile-list .profile-label span {
	font-weight: normal;
	font-size: 14px;
}

#login-form label {
	font-size: 18px;
}

#bg { position: fixed; top: 0; left: 0; z-index: -1;}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }